<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crouniversity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.crouniversity.initiate.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.crouniversity.initiate.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.sign.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.sign.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.cro.CroDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.sns.SnsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.userinfo.UserInfoMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.setting.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.setting.ResetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.setting.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crouniversity.setting.FeedBackActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>